absl-py==1.4.0
aiofiles==23.1.0
ale-py==0.7.4
anyio @ file:///tmp/build/80754af9/anyio_1644463572971/work/dist
apache-beam==2.46.0
argcomplete==3.0.5
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644569679365/work
array-record==0.2.0
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
attrs @ file:///croot/attrs_1668696182826/work
AutoROM==0.6.1
AutoROM.accept-rom-license==0.6.1
avro-python3==1.10.2
Babel @ file:///croot/babel_1671781930836/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1681493039619/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
boto3==1.26.113
botocore==1.29.113
Brotli==1.0.9
brotlipy==0.7.0
cachetools==5.3.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
cmake==3.26.3
colorama==0.4.6
comm @ file:///croot/comm_1671231121260/work
contextlib2==21.6.0
contourpy==1.0.7
crcmod==1.7
cryptography @ file:///croot/cryptography_1677533068310/work
cycler==0.11.0
Cython==0.29.34
dacite==1.7.0
debugpy @ file:///tmp/build/80754af9/debugpy_1637091799509/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.2.13
dill==0.3.1.1
dm-tree==0.1.8
dnspython==2.3.0
docopt==0.6.2
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926439650/work
etils==1.1.0
eventlet==0.33.3
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastavro==1.7.3
fasteners==0.18
fastjsonschema @ file:///opt/conda/conda-bld/python-fastjsonschema_1661371079312/work
fiftyone==0.20.1
fiftyone-brain==0.11.0
fiftyone-db==0.4.0
filelock==3.12.0
flatbuffers==23.3.3
fonttools==4.39.2
ftfy==6.1.1
future==0.18.3
gast==0.4.0
gin-config==0.5.0
glob2==0.7
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.58.0
graphql-core==3.2.3
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.51.3
gym==0.21.0
gym-notices==0.0.8
h11==0.14.0
h2==4.1.0
h5py==3.8.0
hdfs==2.7.0
hpack==4.0.0
httpcore==0.17.0
httplib2==0.21.0
httpx==0.24.0
hypercorn==0.14.3
hyperframe==6.0.1
idna @ file:///croot/idna_1666125576474/work
imageio==2.27.0
immutabledict==2.2.4
importlib-metadata==4.13.0
importlib-resources==5.12.0
inflate64==0.3.1
install==1.3.5
ipykernel @ file:///croot/ipykernel_1671488378391/work
ipython @ file:///croot/ipython_1680701871216/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///croot/ipywidgets_1679394798311/work
jax==0.4.8
jedi @ file:///tmp/build/80754af9/jedi_1644297102865/work
Jinja2 @ file:///croot/jinja2_1666908132255/work
jmespath==1.0.1
joblib==1.2.0
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonlines==3.1.0
jsonschema @ file:///croot/jsonschema_1676558650973/work
jupyter @ file:///tmp/abs_33h4eoipez/croots/recipe/jupyter_1659349046347/work
jupyter-console @ file:///croot/jupyter_console_1679999630278/work
jupyter-server @ file:///croot/jupyter_server_1671707632269/work
jupyter_client @ file:///croot/jupyter_client_1680171862562/work
jupyter_core @ file:///croot/jupyter_core_1679906564508/work
jupyterlab @ file:///croot/jupyterlab_1675354114448/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///croot/jupyterlab_widgets_1679055282532/work
jupyterlab_server @ file:///croot/jupyterlab_server_1680792501448/work
kaggle==1.5.13
kaleido==0.2.1
keras==2.11.0
kiwisolver==1.4.4
lazy_loader==0.2
libclang==15.0.6.1
libusb1==3.0.0
lit==16.0.3
lvis==0.5.3
lxml @ file:///croot/lxml_1679646450407/work
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mdurl==0.1.2
mistune @ file:///tmp/build/80754af9/mistune_1607364877025/work
ml-dtypes==0.1.0
mongoengine==0.24.2
motor==3.1.2
mpmath==1.3.0
multivolumefile==0.2.3
nbclassic @ file:///croot/nbclassic_1681756170010/work
nbclient @ file:///tmp/build/80754af9/nbclient_1650290509967/work
nbconvert @ file:///croot/nbconvert_1668450669124/work
nbformat @ file:///croot/nbformat_1670352325207/work
nest-asyncio @ file:///croot/nest-asyncio_1672387112409/work
networkx==3.1
notebook @ file:///croot/notebook_1681756172480/work
notebook_shim @ file:///croot/notebook-shim_1668160579331/work
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauth2client==4.1.3
oauthlib==3.2.2
object-detection @ file:///home/yipeng/models/research
objsize==0.6.1
opencv-python==4.7.0.72
opencv-python-headless==4.5.2.52
opt-einsum==3.3.0
orjson==3.8.10
packaging @ file:///croot/packaging_1678965309396/work
pandas==1.5.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.4.0
platformdirs @ file:///opt/conda/conda-bld/platformdirs_1662711380096/work
plotly==5.14.1
ply==3.11
portalocker==2.7.0
pprintpp==0.4.0
priority==2.0.0
prometheus-client @ file:///tmp/abs_d3zeliano1/croots/recipe/prometheus_client_1659455100375/work
promise==2.3
prompt-toolkit @ file:///croot/prompt-toolkit_1672387306916/work
proto-plus==1.22.2
protobuf==3.19.6
psutil==5.9.4
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo==9.0.0
py7zr==0.20.4
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybcj==1.0.1
pycocotools @ git+https://github.com/cocodataset/cocoapi.git@8c9bcc3cf640524c4c20a9c40e89cb6a2f2fa0e9#subdirectory=PythonAPI
pycoral==2.0.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodomex==3.17
pydot==1.4.2
Pygments==2.15.1
pymongo==3.13.0
pyOpenSSL @ file:///croot/pyopenssl_1677607685877/work
pyparsing==2.4.7
pyppmd==1.0.0
PyQt5-sip==12.11.0
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636110951836/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-slugify==8.0.1
pytz @ file:///croot/pytz_1671697431263/work
pytz-deprecation-shim==0.1.0.post0
pyudev==0.24.0
pyusb==1.2.1
PyWavelets==1.4.1
PyYAML==5.4.1
pyzmq @ file:///opt/conda/conda-bld/pyzmq_1657724186960/work
pyzstd==0.15.6
qtconsole @ file:///croot/qtconsole_1681394213385/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1662014892439/work
rarfile==4.0
regex==2023.3.23
requests==2.28.2
requests-oauthlib==1.3.1
retrying==1.3.4
rich==13.3.5
rsa==4.9
s3transfer==0.6.0
sacrebleu==2.2.0
sb3-contrib==1.8.0
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.1
seaborn==0.12.2
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentencepiece==0.1.98
seqeval==1.2.2
sip @ file:///tmp/abs_44cd77b_pu/croots/recipe/sip_1659012365470/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio @ file:///tmp/build/80754af9/sniffio_1614030464178/work
sortedcontainers==2.4.0
soupsieve @ file:///croot/soupsieve_1680518478486/work
sse-starlette==0.10.3
sseclient-py==1.7.2
stable-baselines3==1.8.0
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.20.4
strawberry-graphql==0.138.1
sympy==1.12
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-addons==0.19.0
tensorflow-datasets==4.8.2
tensorflow-estimator==2.11.0
tensorflow-hub==0.13.0
tensorflow-io==0.32.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-metadata==1.12.0
tensorflow-model-optimization==0.7.4
tensorflow-text==2.11.0
termcolor==2.2.0
terminado @ file:///croot/terminado_1671751832461/work
text-unidecode==1.3
texttable==1.6.7
tf-models-official==2.11.0
tf-slim==1.1.0
tfds-nightly==4.8.3.dev202303130045
tflite-runtime==2.5.0.post1
threadpoolctl==3.1.0
tifffile==2023.4.12
tinycss2 @ file:///croot/tinycss2_1668168815555/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
torch==2.0.1
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm==4.65.0
traitlets @ file:///croot/traitlets_1671143879854/work
triton==2.0.0
typeguard==2.13.3
typing_extensions @ file:///croot/typing_extensions_1681939499988/work
tzdata==2023.3
tzlocal==4.3
universal-analytics-python3==1.1.1
uritemplate==4.1.1
urllib3 @ file:///croot/urllib3_1680254681959/work
voxel51-eta==0.9.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client @ file:///tmp/build/80754af9/websocket-client_1614803975924/work
Werkzeug==2.2.3
widgetsnbextension @ file:///croot/widgetsnbextension_1679313860248/work
wrapt==1.14.1
wsproto==1.2.0
xmltodict==0.13.0
zipp==3.15.0
zstandard==0.21.0
